.tabs {
    font-variant-caps: all-small-caps;
    border: 1px solid green;
    background-color: #ccc ;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15%;
    border-bottom: 3px solid #333;
}

.tabs .active {
    color: #000000;
    background-color: #e3fffd;
    border-color: #ffffff;
}

.tabs :hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
}
