#fiora {
    width: 700px;
    height: 700px;
    display: inline-block;
    vertical-align: middle;
}

#fioraP {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
    font-variant-caps: all-small-caps;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("Image/c6da1e40a2845537684ec20badf789a5.jpg"); /* Remplacez par le chemin de votre image de fond */
    background-size: cover;
    background-position: center;
}